<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/site.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{site.baseurl}}/js/lib/jquery.hoverflow.min.js"></script>
    <script src="{{site.baseurl}}/js/lib/jquery.quicksand.js"></script>
</head>
<body>
<header>
    <div class="container header">
        <div class="logo">
            <h1>JUN WANG</h1>
        </div>
        {% include nav.html navClass='nav-top' %}
    </div>
</header>
{{content}}

<footer>

</footer>
<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js"></script>
<script src="{{site.baseurl}}/js/animation.js"></script>
</body>
</html>